.game-score-wrapper {
    position: relative;
    margin-top: 4rem;
}


.wrapper-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 270deg at 66.62% 49.16%, rgba(36, 198, 210, 0.62) 0deg, rgba(23, 82, 119, 0.00) 169.35901165008545deg, rgba(19, 47, 89, 0.00) 360deg);
    border-radius: 35rem;

}

.circle {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #0d1330;
    width: 80%;
        height: 40%;
            border-radius: 50% 50% 0 0/100% 100% 0 0;
            z-index: 10;
}

.score-svg {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    z-index: 20;
}

.score-hand {
    position: absolute;
    left: 46%;
    top: 40%;
    z-index: 10;
    width: 5rem;

}
.coefficient-wrapper {
    position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
    .coefficient {
        width: 8%;
        height: 8%;
    background-color: rgba(1, 195, 228, 0.28);
    border: 0.5px solid rgba(255, 255, 255, 0.52);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFF;
    text-shadow: 0px 0px 1.9695814847946167px #7FF;
    font-size: 1rem;
    line-height: 0.6rem;
}

.active-coefficient {
    border-color: #FFA400;
    background-color: #01C3E4;
}

.coefficient:nth-child(1) {
    position: absolute;
    left: 1.5%;
    top: 42%;
    transform: translateY(-50%);
}

.coefficient:nth-child(2) {
    position: absolute;
    left: 6.5%;
        top: 28%;
    transform: translateY(-50%);
}

.coefficient:nth-child(3) {
    position: absolute;
    left: 15%;
        top: 17%;
    transform: translateY(-50%);
}

.coefficient:nth-child(4) {
    position: absolute;
    left: 27%;
        top: 9%;
    transform: translateY(-50%);
}

.coefficient:nth-child(5) {
    position: absolute;
    left: 41%;
        top: 5%;
    transform: translateY(-50%);
}
.score {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 1.5rem;
    padding: 0.5rem 2rem;
    align-items: center;
    gap: 1rem;
    border-radius: 9rem;
    background: rgba(255, 255, 255, 0.04);
}

.score p {
    color: #FFF0C0;
    font-size: 1.5rem;
    margin: 0;
}