{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "auto_format_on_save": true,

  "css": {
    "indentation": 2
  },
  "prettier_options": {
    "singleQuote": true,
    "trailingComma": "all"
  }
}
