.start-container {
    position: relative;
    height: 100vh;
    background-image: url(../../assets/images/start-background.png);
        background-size: cover;
}
.background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 .content-wrapper {
    position: absolute;
    top: 28vh;
    margin: auto;
    width: 100%;
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 72vh;
}

.content-wrapper p {
    width: 70%;
    margin: auto;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 2rem;

}
.start-container .content-wrapper .description {
    color: white;
    text-align: center;
}

 .start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 22rem;
    height: 4rem;
    padding: 0.5rem 2.5rem;
    border-radius: 4.80381rem;
    background: #F8A61F;
    margin: auto;
    color: #1D1E25;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
    font-family: inherit;
}

.persian-lng {
    font-size: 2.7rem;
}
.start-button:hover {
    background: rgba(255, 194, 0, 0.60);
}

.start-button:disabled {
    background: rgba(255, 194, 0, 0.38);
}
.start-webcam {
    visibility: hidden;
}