.step-card {
    position: relative;
    width: 28vw;
        height: 21vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .step-card .border {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
}