.game-container {
background-image: url(../../assets/images/background.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.item-wrapper {
    position: relative;
    width: 28vw;
    height: 28vw;
    max-width: 22rem;
    max-height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrapper {
    position: absolute;
    top: 28vh;
        margin: auto;
        height: 72vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 4vw;
        width: 100%;
        margin-bottom: 5vh;
        margin-top: 3vh;
        margin: auto;
}

.game-recorder {
    background-image: url(../../assets/icons/face-background.svg);
    background-repeat: no-repeat;
    border-radius: 1.5rem;
        overflow: hidden;
}

.game-couter {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.game-counter-wrapper {
    width: 20vh;
    height: 20vh;
}

