.game-container {
background-image: url(../../assets/images/background.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.item-wrapper {
    position: relative;
    width: 26vw;
        height: 26vw;
        max-width: 26rem;
        max-height: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wheel-wrapper {
    width: 30vw;
    height: 30vw;
    max-width: 30rem;
    max-height: 30rem;
}
.content-wrapper {
    position: absolute;
    top: 26vh;
        margin: auto;
        height: 72vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 6vw;
        width: 100%;
        margin-bottom: 5vh;
        margin-top: 3vh;
        margin: auto;
}


.game-recorder {
    background-image: url(../../assets/icons/face-background.svg);
    background-repeat: no-repeat;
    border-radius: 1.5rem;
        overflow: hidden;
}

.game-couter {
    position: absolute;
    top: 2rem;
    left: 51%;
    transform: translateX(-50%);
}

.game-counter-wrapper {
    width: 20vh;
    height: 20vh;
}

.screenshot-wrapper {
    position: relative;
    margin-top: 2rem;
    width: 26vw !important;
    height: 26vw !important;
    border-radius: 1.5rem;
    overflow: hidden;
}
