.layout-container {
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;
    height: 28vh;
    width: 92%;
    z-index: 40;
}

.smile-logo img {
    width: 50vw;
    max-width: 50rem;
}

.research-development-wrapper img {
    width: 20vw;
    max-width: 18rem;
}

.mci-logo img {
    width: 10vw;
    max-width: 8rem;
}

.locale-control-wapper {
    position: absolute;
    top: 3%;
    left: -3%;
}

.locale-control-wapper button {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.locale-control-wapper button svg {
    width: 2rem;
    height: 2rem;
}