.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(25px);
    background: rgba(21, 22, 24, 0.60);
    z-index: 30;
}

.final-form-modal {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 78vh;
}

.gift-wrapper {
    position: relative;
    display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 75vh;
        width: 45vw;
}

.gift-wrapper svg {
    position: absolute;
        bottom: -3rem;
        left: 56%;
        transform: translateX(-50%);
    width: 40rem;
    height: 35rem;
}

.gift-wrapper img {
    width: auto;
    height: 35rem;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}