    .webcam-wrapper {
        position: relative;
        margin-top: 2rem;
            width: 24vw !important;
            height: 22vw !important;
    }
.webcam-wrapper>video {
    visibility: hidden;
}