body {
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.english-class {
  font-family: "Rubik", sans-serif !important;
}

.persian-class {
  font-family: "yekan", sans-serif;
}

@font-face {
  font-family: "yekan";
  src: local("yekan"),
    url("../src/assets/fonts/yekan.ttf") format("truetype");
}
