body {
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.english-class {
  font-family: "Rubik", sans-serif !important;
}

.persian-class {
  font-family: "nazanin", sans-serif;
}

@font-face {
  font-family: "nazanin";
  src: local("nazanin"),
    url("../src/assets/fonts/nazanin.ttf") format("truetype");
}
