.wheel-game {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-game>img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}

.start-page-wheel {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page-wheel>img {
    width: 70% !important;
    height: auto !important;
}

.start-page-wheel>.gift-wheel>svg {
    width: 30%;
}
.gift-wheel>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: auto;
    z-index: 5;
}

.arrow-wheel>svg {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
    height: auto;
    z-index: 5;
}

.start-page-wheel>.arrow-wheel>svg {
    width: 8%;
    top: 18%;
}
.wheel-place svg {
    width: 36vw;
    height: 100%;
    position: absolute;
    bottom: -12rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}